[MASTER]
good-names = id
disable=missing-class-docstring,too-few-public-methods,too-many-instance-attributes,too-many-arguments,too-many-public-methods,too-many-return-statements,duplicate-code,invalid-name